In [61]:
import pymongo

In [62]:
from pymongo.mongo_client import MongoClient

In [63]:
import dns

In [64]:
client = pymongo.MongoClient("mongodb+srv://pcu:papacoding@cluster0.gld9oxa.mongodb.net/?retryWrites=true&w=majority")

In [65]:
db = client['pcu'] # Creating database

In [66]:
data = {"name" : "Rahim" , 
        "class" :"data science masters " ,
        "time" : "flexi"}

In [67]:
coll_pcu = db["my_record"] # Creating collection which is the Table in the SQL

In [68]:
coll_pcu.insert_one(data) # Single data insert

In [69]:
data1 = {"mail_id" : "rahim@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "Dhaka"
}

In [70]:
coll_pcu.insert_one(data1)

In [71]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [72]:
coll_pcu.insert_many(data2) # More than one or Many Data inseart

In [73]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [74]:
coll_pcu.insert_one(data3)

In [75]:
list_of_records = [
    {'companyName': 'pcu',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'pcu',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'pcu',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [76]:
coll_pcu.insert_many(list_of_records)

In [77]:
coll_pcu.find_one()

{'_id': ObjectId('64978daff7d15b7825058c94'),
 'name': 'Rahim',
 'class': 'data science masters ',
 'time': 'flexi'}

In [78]:
for i in coll_pcu.find():
    print(i)

{'_id': ObjectId('64978daff7d15b7825058c94'), 'name': 'Rahim', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64979273f7d15b7825058c95'), 'mail_id': 'rahim@gmail.com', 'phone_number ': 2323424324, 'addr': 'Dhaka'}
{'_id': ObjectId('649792aff7d15b7825058c96'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('649792aff7d15b7825058c97'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('649792aff7d15b7825058c98'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('649792aff7d15b7825058c99'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('649792aff7d15b7825058c9a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('649792aff7d15b7825058c9b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('649792aff7d15b7825058c9c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('649792aff7d15b7825058c9d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('649792aff7d15b7825058c9e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('649792aff7d15b7825058c9f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('649792aff7d15b7825058ca0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('649792aff7d15b7825058ca1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('649792cef7d15b7825058ca2'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64979308f7d15b7825058ca3'), 'companyName': 'pcu', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64979308f7d15b7825058ca4'), 'companyName': 'pcu', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64979308f7d15b7825058ca5'), 'companyName': 'pcu', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [79]:
for i in coll_pcu.find({'name' : 'Rahim'}):
    print(i)

{'_id': ObjectId('64978daff7d15b7825058c94'), 'name': 'Rahim', 'class': 'data science masters ', 'time': 'flexi'}

In [80]:
for i in coll_pcu.find({'companyName' : 'pcu'}):
    print(i)

{'_id': ObjectId('64979308f7d15b7825058ca3'), 'companyName': 'pcu', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64979308f7d15b7825058ca4'), 'companyName': 'pcu', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64979308f7d15b7825058ca5'), 'companyName': 'pcu', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [82]:
random_data = [
    {'_id': '3', 'companyName': 'pcu', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'pcu', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'pcu', 'Faculty': 'PQR'},
]

In [84]:
coll_pcu.insert_many(random_data)

In [86]:
for i in  coll_pcu.find():
    print(i)

{'_id': ObjectId('64978daff7d15b7825058c94'), 'name': 'Rahim', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64979273f7d15b7825058c95'), 'mail_id': 'rahim@gmail.com', 'phone_number ': 2323424324, 'addr': 'Dhaka'}
{'_id': ObjectId('649792aff7d15b7825058c96'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('649792aff7d15b7825058c97'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('649792aff7d15b7825058c98'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('649792aff7d15b7825058c99'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('649792aff7d15b7825058c9a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('649792aff7d15b7825058c9b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('649792aff7d15b7825058c9c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('649792aff7d15b7825058c9d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('649792aff7d15b7825058c9e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('649792aff7d15b7825058c9f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('649792aff7d15b7825058ca0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('649792aff7d15b7825058ca1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('649792cef7d15b7825058ca2'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64979308f7d15b7825058ca3'), 'companyName': 'pcu', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64979308f7d15b7825058ca4'), 'companyName': 'pcu', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64979308f7d15b7825058ca5'), 'companyName': 'pcu', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pcu', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pcu', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pcu', 'Faculty': 'PQR'}

In [88]:
for i in coll_pcu.find({'_id' : {'$gte' : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'pcu', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pcu', 'Faculty': 'PQR'}

In [89]:
coll_pcu.update_many( {"companyName": "pcu"} , {"$set" : {"companyName" : "Future Vision"}} )

In [90]:
for i in  coll_pcu.find():
    print(i)

{'_id': ObjectId('64978daff7d15b7825058c94'), 'name': 'Rahim', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64979273f7d15b7825058c95'), 'mail_id': 'rahim@gmail.com', 'phone_number ': 2323424324, 'addr': 'Dhaka'}
{'_id': ObjectId('649792aff7d15b7825058c96'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('649792aff7d15b7825058c97'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('649792aff7d15b7825058c98'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('649792aff7d15b7825058c99'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('649792aff7d15b7825058c9a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('649792aff7d15b7825058c9b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('649792aff7d15b7825058c9c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('649792aff7d15b7825058c9d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('649792aff7d15b7825058c9e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('649792aff7d15b7825058c9f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('649792aff7d15b7825058ca0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('649792aff7d15b7825058ca1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('649792cef7d15b7825058ca2'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64979308f7d15b7825058ca3'), 'companyName': 'Future Vision', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64979308f7d15b7825058ca4'), 'companyName': 'Future Vision', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64979308f7d15b7825058ca5'), 'companyName': 'Future Vision', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'Future Vision', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'Future Vision', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'Future Vision', 'Faculty': 'PQR'}